.core_contianer{
    .core_mainer{
        border-bottom: 1px solid #EBEEF5;
        width: 100%;
        height: 80px;
        line-height: 80px;
        .core_data{
            margin-left: 20px;
            float: left;
            width: 78%;
        img{
            object-fit: cover;
            border: 1px solid #EBEEF5;
            width: 50px;
            height:50px;
            vertical-align: middle;
            border-radius: 5px;
        }
        span{
            text-indent: 10px;
            display:inline-block;
            width: 90%;
            font-size: 20px;
        }
    }
    .core_btn{
        float: left;
        width:20%;
        text-align: center;
    }
    }
}
.core_null{
    height: 100px;
    position: relative;
    span{
        line-height: 40px;
        margin-left: -70px;
        margin-top: -20px;
        width: 140px;
        height: 40px;
        display: inline-block;
        color: #909399;
        text-indent: 20px;
        top:50%;
        left:50%;
        position: absolute;
    }
}
.page_container{
    position: relative;
    text-align: center;
    height: 40px;
}
.page_mainer{
    position: absolute;
    left: 50%;
    top: 5px;
    width:200px;
    margin-left: -100px;
}