@import "../commit.less";
.Identification_header{
    .DepartmentHeader("\e9d4");

}
.Identification_container{
    border:1px solid #EBEEF5;
    text-indent: 20px;
}
.Department_post{
    border-top: 1px solid #EBEEF5;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    &:hover{
        background-color: #409EFF;
        color: white;
    }
    .Identification_btn{
        margin-right:50px;
        float:right;
    }
}
.Identification_form{
    border: 1px solid #EBEEF5;
    height: 400px;
    padding-top: 50px;
    padding-left: 40px;
}
.Identification_img{
    width: 100%;
    margin-left: 30px;
    .clearfloat();
    span{
        font-size: 13px;
        width: 70px;
        display:block;
        float: left;
        line-height:150px;
    }
    .upload_container{
        float: left;
    }
}

