@import './commit.less';
@color1:#f3f3f3;
.campus_header{
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 888;
  .campus_nav{
    width:1200px;
    height: 50px;
    margin: 0 auto;
    .nav_search{
      padding-top: 5px;
     float: left;
      width:24%;
      margin-left: 10px;
    }
    .nav_person{
      margin-left:20px;
      float: left;
      width:33.6%;
      height: 50px;
      position: relative;
      .person_fun{
        width:60%;
        float:right;
        display: table;
        margin-right:-20px;
        box-sizing:border-box;
        li{
          text-align: center;
          height:50px;
          width:50px;
          display: table-cell;
          box-sizing:content-box;
          .person_msg{
            width:400px;
            margin-top:13px;
            margin-left:42px;
            height:450px;
            display:block;
            text-align: center;
            left:0;
            background-color: white;
            position: absolute;
            box-shadow:0px 0px 10px gray;
            -webkit-box-shadow:0px 0px 10px gray;
            &::before{
             content:"";
             position: absolute;
             top:-29px;
             left:46.5%;
             .boder-xin(15px,transparent,#ffffff,transparent,transparent);
            }
            .msg_header{
              margin: 0 auto;
              width:100%;
              display: table;
              li{
                display: table-cell;
                border: 1px solid #EBEEF5;
                cursor: pointer;
              }
            }
            .msg_centent{
              width: 100%;
              height:100%;
               [class^="centent_"]{
                  width:100%;
                  height: 400px;
                  display: none;
                  overflow: auto;
                  &:nth-of-type(1){
                    display: block;

                  }
                  .natice_information{
                    border-bottom: 1px solid #F2F6FC;
                    height:60px;
                    div{
                      &:nth-of-type(1){
                        i{
                          position: relative;
                          top: 10%;
                        }
                        pointer-events: none;
                        width:20%;

                      }
                      &:nth-of-type(2){
                        width:60%;
                        border-left: 1px solid #F2F6FC;
                        position: relative;
                        pointer-events: none;
                        span{
                          display: inline-block;
                          margin:10px 0px 0px 20px;
                          pointer-events: none;
                          &:nth-of-type(1){
                            float: left;
                            font-size:15px;
                            max-width:90%;
                            .textsellipsis;
                          }
                          &:nth-of-type(2){
                            position: absolute;
                            left: 0;
                            font-size:10px;
                             max-width:90%;
                           .textsellipsis;
                          }
                        }
                      }
                      &:last-child{
                        border: none;
                        color: #2299DD;
                        width: 18%;
                        line-height:60px;
                        cursor: pointer;
                      }
                       height: 100%;
                       float: left;
                    }
                  }
              }
               .msg_null{
                 position: absolute;
                 top:50%;
                 left: 50%;
                 transform:translate(-50%,-50%);
                 -webkit-transform:translate(-50%,-50%);
                 -moz-transform:translate(-50%,-50%);
                 -o-transform:translate(-50%,-50%);
                 -ms-transform:translate(-50%,-50%);
               }
            }
          }
          &:nth-of-type(1){
            i{
              font-size:25px;
              padding-top:10px;
            }
          }
          &:nth-of-type(2){
          img.person_photo{
            margin-top:-5px;
            display:inline;
            width:40px;
            height:30px;
            object-fit: cover;
            vertical-align:middle;
            cursor: pointer;
          }
        }
        }
      }
      &::after{
        content:"";
        clear: both;
      }
    }
    .nav_field{
      float: left;
      width:35%;
      box-sizing: border-box;
      // border: 1px solid gray;
      height: 50px;
    li{
     float:left;
     height:50px;
     text-align: center;
     font-size:15px;
     line-height:55px;
     margin-left:30px;
     font-family: "Microsoft YaHei";
     white-space: nowrap;
     cursor:pointer;
     &:first-child{
       margin-left:0px;
     }
     a{
       color: black;
       &:hover{
         color:#ee0000;
       }
     }
     &:nth-of-type(2){
       a{
          color:#409EFF;
          font-weight: bold;
          font-size:18px;
       }
     &::before{
       content:"\e900";
       font-family: icomoon;
       color:#409EFF;
       font-size:15px;
       padding-left:10px;
     }
     }
     &:nth-of-type(5){
      &:hover .extension{
        display: block;
       }
      &:hover a{
        color: #ee0000;
      }
      &:hover::before{
        color:#00aaff;
      }
      &::before{
        content: "\e959";
        font-family:"icomoon";
        font-size:15px;
      }
     }
    }
    }
  }

}
.msg_loading{
  position: absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
}
.coffee_cup{
    width: 20px;
    height: 24px;
    border: 1px rgba(74, 74, 74, 1.0) solid;
    border-radius: 0px 0px 5px 5px;
    position: relative;
}
.coffee_cup:after, .coffee_cup:before{
    position: absolute;
    content: "";
}
.coffee_cup:after{
    width: 5px;
    height: 12px;
    border: 1px rgba(74, 74, 74, 1.0) solid;
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    left: 20px;
}
.coffee_cup:before{
    width: 1px;
    height: 6px;
    background-color: rgba(225, 225, 225, 1.0);
    top: -10px;
    left: 4px;
    box-shadow: 5px 0px 0px 0px rgba(0, 255, 255, 1.0),
                5px -5px 0px 0px rgba(85, 170, 255, 1.0),
                10px 0px 0px 0px rgba(0, 170, 255, 1.0);
    -webkit-animation: steam 0.5s linear infinite alternate;
       -moz-animation: steam 0.5s linear infinite alternate;
            animation: steam 0.5s linear infinite alternate;
}

@-webkit-keyframes steam{
    0%{height: 0px;}
    100%{height: 6px;}
}
@-moz-keyframes steam{
    0%{height: 0px}
    100%{height: 6px;}
}
@keyframes steam{
    0%{height: 0px}
    100%{height: 6px;}
}
.dep_box{
  width:500px;
  height:400px;
  background-color:#fefefe;
  position:absolute;
  z-index: 999999;
  border-radius:10px;
  margin-top: -5px;
  position: relative;
  left:-20px;
  box-shadow:0px 3px 10px rgba(0,0,0,0.7);
  transition: all 1s ease;
  display: none;
  &::before{
    content:"";
    .boder-xin(12px,transparent,#fefefe,transparent,transparent);
    position: absolute;
    left:43px;
    top: -24px;
    box-sizing: border-box;
    display:inline-block;
  }
  p{
    position: absolute;
    margin-left: 10px;
    margin-top: -10px;
    font-size: 10px;
    color: gray;
  }
}
.dep_name{
  h3{
    width:auto;
    height:0;
   float:left;
   margin-left:10px;
   display: inline-block;
  }
  .box1{
    span{
      float:left;
      display: inline-block;
      height:25px;
      width:80px;
      border: 1px solid gray;
      border-radius:30px;
      line-height: 25px;
      margin-left: 20px;
      margin-top:20px;
    }
    display:flex;
    justify-content:start;
    flex-wrap:wrap;
    margin-top: -20px;
    width:95%;
    height:33%;
  }
  width: 100%;
  height:90%;
  position:relative;
  top:10px;
  left:0px;
  position: relative;
  overflow-y:auto;
  z-index: 9999;
}
.extension{
  width:200px;
  height:240px;
  background-color:#fefefe;
  position: absolute;
  z-index: 99999;
  transition:all 0.5s ease;
  margin-left: -40px;
  box-shadow:0px 0px 10px rgba(0,0,0,0.7);
  -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
  -moz-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
  -o-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
  -ms-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
  display: none;
  img{
    width:calc(100% - 5px);
    height:180px;
    vertical-align: middle;
    display:inline-block;
    position: absolute;
    bottom:0;
    left:0px;
  }
  &::before{
    content:"";
    left:43px;
    top:-32px;
    position:absolute;
   .boder-xin(16px,transparent,#fefefe,transparent,transparent);
  }
  p{
    display:inline-block;
    font-size:15px;
  }
}
.nav_search{
.nav_msg{
  li{
    float: left;
    margin-left:40px;
    width:20%;
    text-align: center;
    white-space: nowrap;
    font-size:15px;
    cursor:pointer;
    a{
      color:black;
      margin-left: 10px;
      &:hover{
        color:#ee0000;
        text-decoration:underline;
      }
    }

  }
}
position: relative;
}

.el-icon-bell{
 font-size: 20px;
 cursor: pointer;
 display: inline-block;
}
.myform{
  margin-left:-40px;
}
.campus{
  width:1200px;
  border-radius: 5px;
  margin:40px auto;
  position: relative;
  &::after{
    content: "";
    clear: both;
    display: block;
   }
}
.subject{
  min-height:200px;
  float: left;
  width:60%;
  background-color: white;
  border-radius: 5px;
  margin: 20px auto;
}
.campus_list{
  position:relative;
  .list_index{
    width: 10%;
    float: left;
    text-align:center;
    line-height:80px;
    height: 100%;
    font-size:20px;
    font-weight: bold;
    color:#ff5500;
  }
  .list_index:nth-of-type(2){
    color:#000000;
  }

  .list_des{
    float:left;
    width:60%;
    position:relative;

    height:100%;
    span{
      position:absolute;
      bottom:10px;
      left: 0;
      font-size:10px;
      color:gray;
      margin-top:-10px;
      &::before
      {
        content:"\e9a9";
        font-family:"icomoon";
      }
    }
    h3{
     margin-top:25px;
     word-break:break-all;
     word-wrap:break-word ;
     font-size:25px;
     cursor: pointer;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     overflow: hidden;
    }
    p{
      width:100%;
      height:50px;
      font-size:14px;
      word-break:break-all;
      word-wrap:break-word ;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    a{
      color: black;
    }
  }

  .list_img{
    float: right;
    width: 200px;
    height:130px;
    position: absolute;
    top:0;
    right:0;
    margin-top: 20px;
    margin-right: 20px;
    overflow: hidden;
    border-radius:5px;
  }
}
.my{
    float: left;
    min-width:300px;
    width:400px;
    height:180px;
    background-color: white;
    margin-left:20px;
    position: relative;
    margin-top: 20px;
    background-color:#ffffff;
    // border: 1px solid;
    .campus_fun{
      a{
        color: black;
      }
        img{
          width: 40px;
          height: 40px;
        }

      p{
        padding-top:10px;
        font-size: 15px;
      }
      padding-top: 5px;
      text-align: center;
      margin-top:23px;
      float: left;
      margin-left:10px;
      width:30%;
      height:100px;
      cursor:pointer;
    }
    .campus_fun_mine{
      div{
        display: inline-block;
        text-align: center;
        height: 100%;
        display: table-cell;
        line-height: 60px;
        border:1px solid #f6f6f6;
      }
      background-color:#ffffff;
      font-size:18px;
      position: absolute;
      bottom: 0;
      height:50px;
      width: 100%;
      color:#909399;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: table;
      cursor: pointer;
    }
}

.information{
  position: absolute;
  top:220px;
  z-index: 666;
  li{
    a{
      display: inline-block;
      height: 90%;
      width:90%;
    }
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #EBEEF5;
    width: 95%;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    font-size: 16px;
    color: #505255;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    &:first-of-type{
      &::before{
        content:"\e9da";
        .icomoon(10px);
      }
    }
    &:nth-of-type(2){
      &::before{
        content: "\e999";
        .icomoon(10px);
      }
    }
    &:nth-of-type(3){
      &::before{
        content: "\e9b4";
        .icomoon(10px);
      }
    }
    &:nth-of-type(4){
      &::before{
        content: "\e998";
        .icomoon(10px);
      }
    }
    &:last-of-type{
      &::before{
        content: "\e976";
        .icomoon(10px);
      }
    }
    &::after{
     content:"";
     top:16px;
     position: absolute;
     right:25px;
     display: inline-block;
     height:8px;
     width: 8px;
     // margin: 20px;
     border-bottom: 1px solid #505255;
     border-right: 1px solid #505255;
     transform:rotate(-45deg);
    }
    &:hover{
      background-color:#DCDFE6;
    }
  }
}
.information{
  padding-left:4px;

  position: absolute;
  right:60px;
  width: 396px;

}
.information_operation,.information_recommend{
  background-color: #FFFFFF;
  box-shadow: 0 0 5px #F2F6FC;
}
.information_advert{
  background-color: #FFFFFF;
  position: relative;
  margin-top: 10px;
  border: 1px solid;
  box-shadow: 0 0 2px #F2F6FC;
  height:200px;
  img{
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  span{
    color: white;
    width: 40px;
    height:20px;
    text-align: center;
    line-height: 20px;
    background:rgba(0,0,0,0.6);
    display: inline-block;
    bottom: 0px;
    right:0px;
    position: absolute;
  }
}
.information_recommend{
  margin-top: 10px;
  // border: 1px solid;
  .recommend_title{
      border-bottom: 1px solid #EBEEF5;
      line-height: 50px;
      height: 50px;
      font-weight: bold;
      font-size: 18px;
      text-indent: 20px;
  }

  @radiuslenth:10px;
  .recommed_content{
    .content_detail{
        img{
          border: 1px solid #EBEEF5;
          vertical-align:middle;
          float: left;
          margin:8px;
          -o-object-fit:cover;
          object-fit: cover;
          width: 80px;
          height: 80px;
          -moz-border-radius:@radiuslenth;
          -webkit-border-radius:@radiuslenth;
          -o-border-radius: @radiuslenth;
          border-radius: @radiuslenth;
        }
        .detail_information{
          height: 100px;
          width: 73%;
          float: left;
          padding-top: 5px;
          border-bottom:1px solid #E4E7ED;
          .textsellipsis();
          span{
            &:first-of-type{
              font-weight:bold;
              font-size: 18px;
            }
            &:nth-of-type(2){
              color: #606266;
            }
            &:last-of-type{
              color: #909399;
            }
            line-height: 28px;
            height: 28px;
            text-indent: 10px;
            width: 100%;
            display:block;
          }
        }
        .clearfloat();
    }
  }
}

.details_centent{
    .centent_source{
      width: 100%;
      height:40px;
      line-height: 40px;
      border-bottom: 1px solid #EBEEF5;
      pointer-events: none;
    }
  .centnet_information{
    width: 100%;
    height:80%;
    overflow:auto;
    pointer-events: none;
    p{
      pointer-events: none;
      -ms-word-break: break-all;
      word-wrap: break-word;
      font-size:18px;
    }
  }
  width:100%;
  height: 200px;
  margin: 0 auto;
  border: 1px solid #EBEEF5;
  margin-top:-20px;
}
.nav_result{
  width:290px;
  min-height: 100px;
  max-height:320px;
  margin-top:2px;
  background-color: #ffffff ;
  position: relative;
  box-shadow: 0px 0px 5px #e1e1e1;
  border-radius:2px;
  cursor:pointer;
  // &::before{
  //   content:"";
  //   position: absolute;
  //   top:-18px;
  //   left: 25px;
  //   .boder-xin(9px,transparent,white,transparent,transparent);
  // }
  .el-icon-loading{
    position:absolute;
    top:50%;
    left: 50%;
  }
  .result_null{
    font-size:16px;
    position:absolute;
    top:50%;
    left: 50%;
    display: inline-block;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-left:-50px;
    margin-top:-30px;
  }
  .result_content{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar{
        width:5px;
        height:5px;
      }
      &::-webkit-scrollbar-track{
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        // border-radius: 2px;
        opacity:0;
      }
      &::-webkit-scrollbar-thumb{
        /*width: 10px;*/
        height:10px;
        border-radius: 10px;
        -webkit-box-shadow:  0 0 6px rgba(0,0,0,.3);
        background-color: #969696;

    }

  }
.result_list{
  margin-top: 5px;
  width:99%;
}
.result_data{
  height: 30px;
  width:100%;
  font-weight: bold;
  line-height: 30px;
  &:hover{
    background-color:#EBEEF5;
      color:#f85d00 ;
  }
  .textsellipsis;
  span{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 10px;
  }
}
.hotsearch_list{
  width: 101%;
  height: 30px;
  line-height: 30px;
  position: relative;
  .textsellipsis;
  a{
     font-family: "防宋";
    color: black;
    &:hover{
      color: #f85d00;
    }
  }
  .hotseach_number{
    display: inline-block;
    width: 18px;
    height:18px;
    border-radius:20px;
    text-align:center;
    line-height:18px;
    color: #FFFFFF;
    margin-right:10px;
    margin-left:10px;
  }
  .hotseach_status{
    position: absolute;
    right:10%;
    display: inline-block;

    height: 20px;
    text-align:center;
    line-height: 20px;
    top: 50%;
    width: 20px;
    margin:-10px;
    font-size:15px;
    color: white;
  }
  &:hover{
    background-color: #dedede;
  }

}
.hotsearch_tocomplete{
  a{
    display: inline-block;
    width:auto;
    padding-left:10px;
    font-size:13px;
  }
  span{
    margin-left:-2px;
  }
}
}
.person_setting{
  cursor: pointer;
  li{
    // border: 1px solid;
    height: 40px;
    line-height:40px;
    font-size: 18px;
    color: #7a7d82;
    margin-left: -12px;
    width: 116%;
    &:first-of-type{
      text-align: center;

      &::before{
        content: "\e971";
        .icomoon(2px);
        font-size: 18px;
      }
    }
    &:nth-of-type(2){
      text-indent: 38px;
      &::before{
        content: "\ea14";
        .icomoon(2px);
      }
    }
    &:hover{
      background-color: #E4E7ED;
    }
  }
}
